*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color:black;
    background-color:#F0F8FF;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;

}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    color: rgb(74, 181, 231);
    padding: 5px;
}
.container{
    width: 100%;
    margin: auto;
}
/*BTN*/
.btn{
    border: 1px solid black;
    color: rgb(1, 122, 179);
    background-color: white;
    padding:10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}
.btn a:hover{
    cursor: pointer;
    opacity: 0.6;
}

/*NAVIGATION*/
.nav-main{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    background-color: #555555;
    border: 0.7px salmon white;
    height: 60px;

}
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    opacity: 0.6;

}
.nav-main ul.nav-menu{
    flex:1;
    margin-left: 20px;
}
.nav-logo{
    width: 150px;
    padding:10px;
}
/*SHOWCASE*/
.showcase{
    width: 100%;
    height: 350px;
    background: url('./img/banner1.jpg') no-repeat center center/cover;
  
}
.showcase h2{
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}
.showcase p{
    text-align: center;
    color: #555555;

}
.showcase ul{
    align-items: center;
    padding: 50px;
    text-align: center;
}

/*LINK*/
.links ul{
    width: 100%;
    text-align: center;
    background-color: white;
}
.links ul li{
    color: #6a6a6a;
    font-size: 14px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.links img{
    display: flexbox;
}
.links a{
    color: black;
}
.links a:hover{
    cursor: pointer;
    opacity: 0.6;
    background-color:rgb(74, 181, 231) ;
}
/* NEW PRODUCTS*/
.products{
    width: 100%;
    margin: auto;
}
.new-products{
    display: block;
    height: 500px;
}
.new-products h2{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #6a6a6a ;
}
.new-products h3{
    color: rgb(74, 181, 231);
    font-size: 10px;
    padding: 5px;
}
.new-products p{
    text-align: center;
    color: #555555;
}
.new-products ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 20px;
    margin: 20px;
    
}
.new-products ul li{ 
    display: block;
    box-shadow: 2px 2px 5px #999;
    border: 4px solid white;
   text-align: center;
   border-radius: 8px;
   background-color: white;
}
.new-products ul li h2{
    color: rgb(1, 122, 179);

}
.new-products ul li p{
    color: #555555;
}
.new-products img{
    width: 100%;
    height: 150px;
    border-radius: 4px;
   
}
.new-products h4{
    color: #6a6a6a;
    padding-bottom: 10px;
}
.new-products i{
    color:gold;
    font-size: 10px;
}
.new-products li:hover,
.new-products a:hover{
    cursor: pointer;
    opacity: 0.6;
    color: rgb(74, 181, 231);
}
/*MAPAD*/
.mapad{
    display: block;
    text-align: end;
}
.mapad ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 30px;
}

.lista li p{
    color: #999;
    text-align: start;
    padding: 2%;
}

.mapad p{
    color: #555555;
    text-align: start;

}
.mapad h2{
    color: rgb(74, 181, 231);
    text-align: start;
}
.mapad a img{
    border: 2px solid #555555;
    border-radius: 6px;
}
.mapad a img:hover{
    cursor: pointer;
    opacity: 0.6;
}
  


/*NEW PRODUCTS*/
.new-products1{
    display: block;
    height: 300px;
    margin-bottom: 35%;
    justify-content: center;
    text-align: center;
}
.new-products1 h1{
    text-align: center;
    color: black;

}
.new-products1 h2{
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #6a6a6a ;
}
.new-products1 h3{
    color: #999;
    font-size: 8px;
    padding: 5px;
}
.new-products1 p{
    text-align: center;
    color: #6a6a6a;
    
}
.new-products1 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    
}
.new-products1 ul li{ 
    display: block;
    box-shadow: 2px 2px 5px #6a6a6a;
    border: 4px solid white;
   text-align: center;
   border-radius: 8px;
   background-color: white;
}
.new-products1 ul li h2{
    color: rgb(1, 122, 179);

}
.new-products1 ul li p{
    color: #555555;
    font-size: 12px;
}
.new-products1 img{
    width: 100%;
    height: 120px;
    border-radius: 4px;
   
}
.new-products1 h4{
    color: #6a6a6a;
    padding-bottom: 10px;
}
.new-products1 i{
    color:gold;
    font-size: 10px;
}
.new-products1 li:hover,
.new-products1 a:hover{
    cursor: pointer;
    opacity: 0.6;
    color: rgb(74, 181, 231);}


/*ADS*/
.ads{
    
    text-align: center;
    width: 100%;
    height: 450px;
    background: url('./img/mapamundi.jpg') no-repeat center center/cover;
    border: 4px solid white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #999;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ads h2{
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}
.ads ul{
    margin-top: 30px;
    width: 30%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 20px;
    
}
.ads ul li{
    padding: 5px;
    color: #6a6a6a;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgb(74, 181, 231);
}
.ads a{
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgb(74, 181, 231);
}
.ads a:hover{
    cursor: pointer;
    opacity: 0.6;

}

/*FOOTER*/

/* SOCIAL */
.social {
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #6a6a6a;
}
.links1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.links1 a{
    margin: 0 30px;
    text-decoration: none;
    color: rgb(74, 181, 231);

}
.links1 a i {
    font-size: 3rem;
}
.links1 a i:hover{
    cursor: pointer;
    opacity: .7;
}


/* FOOTER LINK */
.footer-links{
    background-color: #6a6a6a;
    color: white;
    font-size: 12px;
    padding: 35px 0;
}
.footer-links h3{
    color:rgb(74, 181, 231);
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}
.footer-container ul{
    margin: 0 auto;

}
.footer-container ul li{
    line-height: 2.4;
}
.footer{
    background-color: #6a6a6a;
    color: rgb(74, 181, 231);
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}